.axis path {
  stroke: black;
  stroke-width: 2px;
}

.axis line {
  stroke: black;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

.axis text {
  fill: black;
  font-weight: 500;
  font-size: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.legend text {
  fill: black;
  font-family: "Arial Black", Gadget, sans-serif;
}
