.axis path {
  stroke: black;
  stroke-width: 2px;
}

.axis line {
  stroke: black;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

.axis text {
  fill: black;
  font-weight: 500;
  font-size: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.legend text {
  fill: #252424;
  font-family: "Arial Black", Gadget, sans-serif;
}

ul {
  list-style-type: none;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
}
